$black: #252525;
$white: #fff;
$grey: #eaeaea;
$dark:#161D1D;

$primary-color: hsla(0, 0%, 0%,.5);
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint-1: lighten( $primary-color, 10% );
$primary-color-tint-2: lighten( $primary-color, 20% );
$primary-color-tint-3: lighten( $primary-color, 30% );
$primary-color-tint-4: lighten( $primary-color, 40% );
$primary-color-tint-5: lighten( $primary-color, 50% );
$primary-color-tint-6: rgba(128,128,128,1);