@font-face {
    font-family: 'Facebook';
    src: url('FacebookReader-Bold.woff2') format('woff2'),
        url('FacebookReader-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Facebook';
    src: url('FacebookReader-Regular.woff2') format('woff2'),
        url('FacebookReader-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

